<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="static/script.js"></script>
    <title>My Flask App</title>
</head>
<body>
    <!--<h1>{{ output }}</h1>-->
    <h1>Genre Classification</h1>
    <p>Select a file containing your text…</p>
	<input type="file" id="fileInput">
	<br><br>
	<p>…then click the button to classify it</p>
	<button onclick="classifyText()">Classify Text</button>
    <br><br>
    <p id="result"></p>
</body>
</html>

